@font-face {
  font-family: 'Roboto';
  src: url('FileName.eot');
  src: local('FileName.eot?#iefix') local('embedded-opentype'),
    url('FileName.woff') format('woff'),
    url('FileName.ttf') format('truetype'),
    url('FileName.svg#FontName') format('svg');
  font-style: normal;
  font-weight: normal;
}

