.slider {
    margin-bottom: 4rem;
}

.slider__container {
    position: relative;
    width: 60rem;
    margin: 0 auto;
    overflow: hidden;
}

.slider__inner {
    display: flex;
    margin-bottom: 2rem;
    height: 50rem;
}

.slider__item {
    width: 100%;
}

.slider__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.slider__button {
    padding: 1rem;
    border: 1px solid red;
}