.slider {
  position: relative;
  z-index: 1;
  margin-bottom: 5rem;
}

.slider__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__buttons-item {
  width: 5rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: calc(50% - 30rem);
}

.slider__buttons-item--next {
  left: auto;
  right: calc(50% - 30rem);
}

.slider__buttons-btn {
  width: 100%;
  height: 100%;
}

.slider__dots {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.slider__dots-item {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border: 0.1rem solid black;
}

.slider__dots-item--active {
  background-color: black;
}

.twoSlider {
  margin-bottom: 4rem;
}

.twoSlider__inner {
  width: 30rem;
  height: 30rem;
  border: 0.1rem solid black;
  margin: 0 auto 2rem;
  overflow: hidden;
  display: flex;
  position: relative;
}

.twoSlider__item {
  transition: all 1s ease;
  position: relative;
  right: 0;
  flex-shrink: 0;
}

.twoSlider__btn {
  display: flex;
  justify-content: center;
  column-gap: 6rem;
}

.twoSlider__btn-button {
  padding: 1rem;
  border: 0.1rem solid black;
}