@import url('./fonts.css');
@import url('./tabs.css');

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: blue;
}

.header__menu {
  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

.header__list {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.header__item {
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

.header__item:not(.header__item--active):hover {
  color: red;
}

.header__item-link--active {
  background-color: yellow;
}

.main__btn {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1rem;
  width: 4.4rem;
  height: 4.4rem;
  background: url("../img/arrowUp.png") no-repeat center/cover;
  position: sticky;
  left: 100%;
  bottom: 2rem;
}

.main__btn--active {
  display: none;
}

.home__title {
  margin-bottom: 8rem;
}

.home__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.home__item {
  flex: 1 0 20%;
}

.home__item::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.home__item-element {
  width: 100%;
  height: 100%;
  background-color: red;
}

.submit__message-block {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0008;
}

.submit__message-block--active {
  display: none;
}

.submit__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid black;
  text-align: center;
  background-color: white;
}


.section {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  border: 1px solid red;
  padding-top: 2.5rem;
}

.section:not(:last-child) {
  margin-bottom: 1rem;
}

.section__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}