.carousel {
    position: relative;
    text-align: center;
    margin-bottom: 5rem;
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 1s ease-in-out;
}

.item.active,
.item.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    margin: 3rem 20%;
    font-size: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.project-name {
    padding: 2rem;
}

.control {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 15%;
    height: 100%;
}

.control.left {
    left: 0;
    right: auto;
}

.control.right {
    right: 0;
    left: auto;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10rem;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}