.header {
    margin-bottom: 1rem;
    width: 100%;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    background-color: red;
}

.header__btn {
    color: white;
    padding: 1rem;
    border: 1px solid yellowgreen;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.header__btn:hover {
    background-color: hotpink;
    border: 1px solid transparent;
}

.photo {
    margin-bottom: 4rem;
}

.slider {
    margin-bottom: 4rem;
}

.slider__container {
    position: relative;
    width: 60rem;
    margin: 0 auto;
    overflow: hidden;
}

.slider__inner {
    display: flex;
    margin-bottom: 2rem;
    height: 50rem;
}

.slider__item {
    width: 100%;
}

.slider__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.slider__button {
    padding: 1rem;
    border: 1px solid red;
}

.animation {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.animation__inner {
    height: 100vh;
    border: 1px solid green;
}

.btn__left,
.btn__right {
    border: 1px solid red;
    padding: 1rem;
}

.corusel__wrapper {
    width: 64rem;
    overflow: hidden;
    margin: 0 auto;
}

.btn {
    font-size: 10rem;
}

.corusel__inner, .corusel__box, .corusel__item {
    display: flex;
}

.corusel__inner {
    position: relative;
    left: -64rem;
}

.corusel__item {
    width: 20rem;
    height: 20rem;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    cursor: pointer;
}

.corusel__item:not(:last-child) {
    margin-right: 2rem;
}

.corusel__box:last-child .corusel__item {
    background-color: green;
}

.corusel__box:first-child .corusel__item {
    background-color: yellow;
}

.footer {
    width: 100%;
}

.footer__inner {
    background-color: red;
    min-height: 3rem;
}




@keyframes move-right {
    from {
        left: -64rem;
    }

    to {
        left: -1280px;
    }
}

@keyframes move-left {
    from {
        left: -64rem;
    }

    to {
        left: 0;
    }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s;
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s;
}